/* Breakpoints */
$screen-sm : 601px;
$screen-md : 768px;
$screen-lg : 801px;
$screen-xl : 1201px;

/* Colors */
$gray-light : #bfbfbf;
$gray : #444;
$gray-dark : #222;
$gray-darker : #111;
$brand-dark : #864212;
$brand : #ee7722;
$white : #fff;
